DirectoryIndex liste.php
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Test
#RewriteRule ^fez index.php

# CRUD d'un Lien
RewriteRule ^liens/formulaire/([0-9]+)/*$ controller/lien.php?id=$1
RewriteRule ^liens/formulaire/*$ controller/lien.php

# Ajout d'un Texte sur un Souvenir
RewriteRule ^souvenirs/([0-9]+)/texte/*$ controller/texte.php?souvenir_id=$1

# Affichage d'un Souvenir
RewriteRule ^souvenirs/([0-9]+)/*$ controller/souvenir.php?id=$1

# CRUD d'un Souvenir (TODO)
RewriteRule ^souvenirs/formulaire/([0-9]+)*$ controller/souvenir.php?id=$1
RewriteRule ^souvenirs/formulaire/*$ controller/souvenir.php?id=$1

# Note edit
RewriteRule ^note/([0-9]+)/*$ note.php?id=$1 [L]

# Filters
RewriteRule ^auteur/(.*)/*$ liste.php?auteur=$1 [L]
RewriteRule ^source/(.*)/*$ liste.php?source=$1 [L]
RewriteRule ^categorie/(.*)/*$ liste.php?categorie=$1 [L]
RewriteRule ^motcle/(.*)/*$ liste.php?motcle=$1 [L]
RewriteRule ^recherche/*$ liste.php [QSA,L]

# Regle par defaut
RewriteRule ^([a-zA-Z_]+)/*$ controller/$1.php [L]
